[data-v-ef0b45d1]:root {
  --max-columns: 16;
  --max-width: 1920;
}
.video-section[data-v-ef0b45d1] {
  margin: 0 auto;
  max-width: 1920px;
  padding: 40px 0 100px;
  position: relative;
}
@media (min-width: 1024px) {
  .video-section[data-v-ef0b45d1] {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 10vw;
  }
}
.video-section__videos[data-v-ef0b45d1] {
  margin: 0 auto;
  opacity: 0;
  position: relative;
  transform: translateY(30px);
}
@media (min-width: 1024px) {
  .video-section__videos[data-v-ef0b45d1] {
    flex: 1;
    margin-right: clamp(1.875rem, 3.2362459547vw + 1.1165048544rem, 5rem);
  }
}
.video-section__videos-holder[data-v-ef0b45d1] {
  display: none;
  margin-bottom: 45px;
}
.video-section__videos-holder.--mobile[data-v-ef0b45d1] {
  display: block;
  padding-bottom: 50px;
  position: relative;
}
@media (min-width: 1024px) {
  .video-section__videos-holder.--mobile[data-v-ef0b45d1] {
    display: none;
  }
  .video-section__videos-holder.--desktop[data-v-ef0b45d1] {
    display: block;
  }
  .video-section__videos-holder[data-v-ef0b45d1] {
    aspect-ratio: 16/9;
    border: 1px solid #1d1c1c;
    border-radius: 6px;
    box-shadow: 0 8px #1d1c1c;
    height: auto;
    margin-bottom: 0;
    overflow: hidden;
    width: 100%;
  }
}
.video-section__videos-video[data-v-ef0b45d1] {
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.video-section__content-container[data-v-ef0b45d1] {
  margin-right: clamp(1.875rem, 4.5307443366vw + 0.8131067961rem, 6.25rem);
  padding-left: clamp(1.875rem, 8.4142394822vw + -0.0970873786rem, 10rem);
}
@media (min-width: 1024px) {
  .video-section__content-container[data-v-ef0b45d1] {
    width: clamp(25.625rem, 22.7272727273vw + 11.0795454545rem, 28.125rem);
  }
}
@media (min-width: 1440px) {
  .video-section__content-container[data-v-ef0b45d1] {
    width: clamp(42.5rem, 35.4166666667vw + 10.625rem, 53.125rem);
  }
}
.video-section__videos-navigation[data-v-ef0b45d1] {
  display: none;
  margin-top: 40px;
}
@media (min-width: 1024px) {
  .video-section__videos-navigation[data-v-ef0b45d1] {
    display: flex;
    justify-content: flex-end;
  }
}
.video-section__videos-navigation-item[data-v-ef0b45d1] {
  position: relative;
}
@media (min-width: 1024px) {
  .video-section__videos-navigation-item[data-v-ef0b45d1] {
    aspect-ratio: 181/111;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 17px;
    width: 19.4154%;
  }
  .video-section__videos-navigation-item[data-v-ef0b45d1]:last-of-type {
    margin-right: 0;
  }
}
.video-section__videos-navigation-item.--active
  .video-section__videos-navigation-item-btn[data-v-ef0b45d1] {
  display: none;
}
.video-section__videos-navigation-item.--active
  .video-section__videos-navigation-item-background[data-v-ef0b45d1] {
  display: block;
}
.video-section__videos-navigation-item-background[data-v-ef0b45d1] {
  background-color: #fd74fd;
  border: 1px solid #1d1c1c;
  border-radius: 6px;
  display: none;
  height: calc(100% + 10px);
  left: -5px;
  position: absolute;
  top: -5px;
  width: calc(100% + 10px);
}
.video-section__videos-navigation-item-image[data-v-ef0b45d1] {
  border: 1px solid #1d1c1c;
  border-radius: 6px;
  display: block;
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
.video-section__videos-navigation-item-btn[data-v-ef0b45d1] {
  bottom: 6px;
  display: block;
  height: auto;
  left: 6px;
  position: absolute;
  width: 13%;
}
.video-section__top-title[data-v-ef0b45d1] {
  align-items: center;
  color: #1d1c1c;
  display: flex;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  gap: 0 10px;
  line-height: 135%;
  margin-bottom: 25px;
}
@media (min-width: 1440px) {
  .video-section__top-title[data-v-ef0b45d1] {
    font-size: 1.25rem;
    gap: 0 20px;
    margin-bottom: 35px;
  }
}
.video-section__top-title-icon[data-v-ef0b45d1] {
  opacity: 0;
  transform: rotateX(180deg);
}
.video-section__title[data-v-ef0b45d1] {
  color: #1d1c1c;
  font-size: clamp(1.8125rem, 2.0064724919vw + 1.3422330097rem, 3.75rem);
  font-style: normal;
  font-weight: 800;
  letter-spacing: -1.41px;
  line-height: 85%;
  margin-bottom: clamp(1.75rem, 1.1003236246vw + 1.4921116505rem, 2.8125rem);
}
.video-section__text[data-v-ef0b45d1] {
  font-size: clamp(1rem, 0.2588996764vw + 0.9393203883rem, 1.25rem);
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
}
.video-section__videos-slide[data-v-ef0b45d1] {
  aspect-ratio: 16/9;
  background-color: #1d1c1c;
  border: 2px solid #1d1c1c;
  border-radius: 7px;
  display: block;
  height: auto;
}
.video-section__videos-slide-image[data-v-ef0b45d1] {
  border-radius: 7px;
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  width: 100%;
}
.video-section__videos-slide-btn[data-v-ef0b45d1] {
  bottom: 6px;
  height: auto;
  left: 6px;
  pointer-events: none;
  position: absolute;
  width: 13%;
}
.video-section__videos-slide-video[data-v-ef0b45d1] {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
:root {
  --max-columns: 16;
  --max-width: 1920;
}
p {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  p {
    margin-bottom: 25px;
  }
}
p:last-of-type {
  margin-bottom: 0;
}
[data-v-1b91a326]:root {
  --max-columns: 16;
  --max-width: 1920;
}
.app__background[data-v-1b91a326] {
  animation: gradient-1b91a326 10s ease infinite;
  background: linear-gradient(121deg, #ff158a -20.66%, #fff48d 65.83%);
  background-position: 50% 50%;
  background-size: 120% 120%;
  height: 100vh;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
}
.app__switch-link[data-v-1b91a326] {
  color: #1d1c1c;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  position: fixed;
  right: 30px;
  text-decoration: none;
  top: 30px;
  z-index: 999;
}
@keyframes gradient-1b91a326 {
  0% {
    background-position: 50% 50%;
  }
  25% {
    background-position: 0 0;
  }
  50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 100% 100%;
  }
  to {
    background-position: 50% 50%;
  }
}
.faq__button-container[data-v-1b91a326] {
  align-items: center;
  display: none;
  justify-content: center;
  position: fixed;
  right: 20px;
  top: 50%;
}
@media (min-width: 1024px) {
  .faq__button-container[data-v-1b91a326] {
    display: flex;
  }
}
@media (min-width: 1440px) {
  .faq__button-container[data-v-1b91a326] {
    right: 28px;
  }
}
@media (min-width: 1920px) {
  .faq__button-container[data-v-1b91a326] {
    right: 1.5625vw;
  }
}
.faq__button[data-v-1b91a326] {
  transform: scale(0);
  width: 50px;
}
@media (min-width: 1024px) {
  .faq__button[data-v-1b91a326] {
    width: 66px;
  }
}
.faq__button span[data-v-1b91a326] {
  opacity: 0;
}
